body{
     font-family: 'Times New Roman', serif;
     font-size: 20px;
     color: darkgreen;
     margin: 0;
     padding: 0;
     background-color: #008000;
}

header {
    background-color: #fffcfc;
    color: white;
    padding: 10px 0;
    text-align: center;
    
}

h1 {
    font-family:'Courier New', monospace;
    color: darkblue;
    margin: 0;
}

section {
    padding: 20px;
}

footer {
    background-color: #f3ebeb;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  